<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="messages" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Messages</label>
                <field id="timeout"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Timeout</label>
                    <tooltip>Whenever messages are popping up, they are automatically after this timeout. This is by default 5000ms (5 seconds).</tooltip>
                    <comment>In microseconds. Set to 0 to never remove messages automatically</comment>
                </field>
            </group>
        </section>
    </system>
</config>
